* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: white;
}
/* body {
    overflow: hidden;
} */
/* .page1{
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2{
    width: 100%;
    height: 100%;
    background-color: rgb(105, 187, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.page3{
    width: 100%;
    height: 100%;
    background-color: rgb(37, 151, 189);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
}

h1{
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
    font-family: gilroy;
    padding: 10px;
}
h2{
    font-size: 50px;
    color: white;
    text-align: center;
    position: relative;
    font-family: gilroy;
} */



.page1, .page3 {
    background: #000;
    width: 100%;
    height: 100%;
}

.page2{
    background: rgb(198, 233, 245);
    width: 100%;
    height: 100%;
}

.page2 h1 {
    font-size: 40vw;
    text-transform: uppercase;
    color: #000;
    text-align: center;

}